@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

#grid-wrapper {
    display: grid;
    height: 100vh;
    grid-template-rows: 20vh 30vh 30vh 10vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "he he"
    "om be"
    "zo dj"
    "fo fo";

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: he;
    background-color: burlywood;
}

#omoss {
    display: flex;
    grid-area: om;
    background-color: lightblue;
    margin: 30px;
}

#bestall {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    grid-area: be;
    background-color: lightgoldenrodyellow;
    margin: 30px;
}

#zoo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    grid-area: zo;
    background-color: lightseagreen;
    margin: 30px;
}

#djur {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    grid-area: dj;
    background-color: blanchedalmond;
    margin: 30px;
}
#footer1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    grid-area: fo;
    background-color:grey;
    margin-top: 30px;

}

h1 {
    font-family: 'Secular One', sans-serif;
    font-size: 3rem;
}

#text {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
}

#button1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid-wrapper2 {
    display: grid;
    height: 100vh;
    grid-template-rows: 20vh 40vh 40vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "he he"
    "k1 k2 k3 k4"
    "k5 k6 k7 k8";

}

#k1 {
    display: flex;
    grid-area: k1;
    background-color: lightblue;
    margin: 20px;
}

#k2 {
    display: flex;
    grid-area: k2;
    background-color: lightblue;
    margin: 20px;
}

#k3 {
    display: flex;
    grid-area: k3;
    background-color: lightblue;
    margin: 20px;
}

#k4 {
    display: flex;
    grid-area: k4;
    background-color: lightblue;
    margin: 20px;
}

#k5 {
    display: flex;
    grid-area: k5;
    background-color: lightblue;
    margin: 20px;
}

#k6 {
    display: flex;
    grid-area: k6;
    background-color: lightblue;
    margin: 20px;
}

#k7 {
    display: flex;
    grid-area: k7;
    background-color: lightblue;
    margin: 20px;
}

#k8 {
    display: flex;
    grid-area: k8;
    background-color: lightblue;
    margin: 20px;
}